Workspace.xcworkspace
.package.resolved

Projects/Common/Common.xcodeproj
Projects/Common/Derived
Projects/Common/build

Projects/Data/Data.xcodeproj
Projects/Data/Derived
Projects/Data/build

Projects/Domain/Domain.xcodeproj
Projects/Domain/Derived
Projects/Domain/build

Projects/FinanceCarter/FinanceCarter.xcodeproj
Projects/FinanceCarter/Derived
Projects/FinanceCarter/build

Projects/Presentation/Presentation.xcodeproj
Projects/Presentation/Derived
Projects/Presentation/build